body{
  margin:0;
  background:#E3FCF5;
  text-align:center;
  font-family:'Montserrat', sans-serif;
  overflow-x:hidden;
}
h1{
  font-family:'Pacifico', cursive;
  font-size:3rem;
  margin-top:90px;
  color:#2a8c82;
}
h2 a{
  color:#3aafa9;
  text-decoration:none;
}
.mountain{
  width:380px;
  margin-top:40px;
}
.cloud{
  position:absolute;
  width:120px;
  opacity:0.8;
}
.cloud-left{
  left:80px;
  top:40px;
}
.cloud-right{
  right:80px;
  top:90px;
}
